.icon {
  display: block;
  overflow: hidden;
  vertical-align: middle;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

.icon-dashboard {
  width: 18px;
  height: 18px;
  background: url(@/assets/icons/dashboard.svg);
}

.icon-history {
  width: 18px;
  height: 18px;
  background: url(@/assets/icons/history.svg);
}

.icon-add {
  width: 18px;
  height: 18px;
  background: url(@/assets/icons/add.svg);
}

.icon-statistics {
  width: 18px;
  height: 18px;
  background: url(@/assets/icons/statistics.svg);
}

.icon-settings {
  width: 18px;
  height: 18px;
  background: url(@/assets/icons/settings.svg);
}

.icon-ledger-family {
  width: 48px;
  height: 48px;
  background: url(@/assets/icons/ledger-family.svg);
}

.icon-ledger-personal {
  width: 48px;
  height: 48px;
  background: url(@/assets/icons/ledger-personal.svg);
}

.icon-ledger-travel {
  width: 48px;
  height: 48px;
  background: url(@/assets/icons/ledger-travel.svg);
}

.icon-search {
  width: 18px;
  height: 18px;
  background: url(@/assets/icons/search-icon.svg);
}

.icon-nav-add {
  width: 44px;
  height: 44px;
  background: url(@/assets/nav_icon_add.svg);
}

.icon-nav-budget {
  width: 18px;
  height: 17px;
  background: url(@/assets/nav_icon_budget.svg);
}

.icon-nav-ledger {
  width: 17px;
  height: 19px;
  background: url(@/assets/nav_icon_ledger.svg);
}

.icon-nav-profile {
  width: 19px;
  height: 19px;
  background: url(@/assets/nav_icon_profile.svg);
}

.icon-nav-statistics {
  width: 17px;
  height: 17px;
  background: url(@/assets/nav_icon_statistics.svg);
}

.icon-header {
  width: 46px;
  height: 20px;
  background: url(@/assets/header_icon.svg);
}

.icon-transaction-lunch {
  width: 40px;
  height: 40px;
  background: url(@/assets/transaction_icon_lunch.svg);
}

.icon-transaction-taxi {
  width: 40px;
  height: 40px;
  background: url(@/assets/transaction_icon_taxi.svg);
}

.icon-nav-dashboard {
  width: 18px;
  height: 18px;
  background: url(@/assets/icons/dashboard.png);
}

.icon-nav-dashboard-active {
  width: 18px;
  height: 18px;
  background: url(@/assets/icons/dashboard-active.png);
}

.icon-nav-history {
  width: 18px;
  height: 18px;
  background: url(@/assets/icons/Container-1.png);
}

.icon-nav-statistics {
  width: 18px;
  height: 18px;
  background: url(@/assets/icons/Container-2.png);
}

.icon-nav-settings {
  width: 18px;
  height: 18px;
  background: url(@/assets/icons/Container-3.png);
}

.icon-plus {
  width: 18px;
  height: 18px;
  background: url(@/assets/icons/plus.png);
}
