.icon {
  display: block;
  overflow: hidden;
  vertical-align: middle;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

.icon-dashboard {
  width: 18px;
  height: 18px;
  background: url(./icons/dashboard.svg);
}

.icon-history {
  width: 18px;
  height: 18px;
  background: url(./icons/history.svg);
}

.icon-add {
  width: 18px;
  height: 18px;
  background: url(./icons/add.svg);
}

.icon-statistics {
  width: 18px;
  height: 18px;
  background: url(./icons/statistics.svg);
}

.icon-settings {
  width: 18px;
  height: 18px;
  background: url(./icons/settings.svg);
}

.icon-ledger-family {
  width: 48px;
  height: 48px;
  background: url(./icons/ledger-family.svg);
}

.icon-ledger-personal {
  width: 48px;
  height: 48px;
  background: url(./icons/ledger-personal.svg);
}

.icon-ledger-travel {
  width: 48px;
  height: 48px;
  background: url(./icons/ledger-travel.svg);
}

.icon-search {
  width: 18px;
  height: 18px;
  background: url(./icons/search-icon.svg);
}

.icon-nav-add {
  width: 40px;
  height: 44px;
  background: url(./nav_icon_add.svg);
}

.icon-nav-budget {
  width: 18px;
  height: 17px;
  background: url(./nav_icon_budget.svg);
}

.icon-nav-ledger {
  width: 17px;
  height: 19px;
  background: url(./nav_icon_ledger.svg);
}

.icon-nav-profile {
  width: 19px;
  height: 19px;
  background: url(./nav_icon_profile.svg);
}

.icon-nav-statistics {
  width: 17px;
  height: 17px;
  background: url(./nav_icon_statistics.svg);
}

.icon-header {
  width: 46px;
  height: 20px;
  background: url(./header_icon.svg);
}

.icon-transaction-lunch {
  width: 40px;
  height: 40px;
  background: url(./transaction_icon_lunch.svg);
}

.icon-transaction-taxi {
  width: 40px;
  height: 40px;
  background: url(./transaction_icon_taxi.svg);
}
